 .tamanho_input{
            height: 50px;
            width:150px;
            background-color: darkseagreen; 
        }

/*Inserindo estilo para o botao resultado*/

#printa_na_tela{
    color: red;
    width: 8%;
    font-size: 14px;
    font-weight: bold;
}

#tela2{
            height: 50px;
            width:150px;
            background-color: yellowgreen; 
        }